.cover_image {
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  z-index: 10;
}

.cover_image::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to top,
    #141414 10px,
    rgba(31, 31, 31, 0.2) 50%
  );
  height: inherit;
  width: inherit;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.cover_nav {
  color: #fff;
  z-index: 1000;
  position: absolute;
  top: 40%;
  padding-left: 20% !important;
  padding-right: 20% !important;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
